{% extends "layout2.html" %}

{% block head %}

    {{ super() }}

    {{beach_map.js}}

    <!-- Link out for Jquery, which is a dependency for datatables -->

<!--     <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>

   Link out for datatables -->

    <!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script> -->

    <!-- Bootstrap -->

    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styledform.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pinboardstyle_main.css') }}"> -->

    <!-- Script to initialize datatables -->

    <script language="javascript">

    $(document).ready( function () {
        $('#table_id').DataTable( {
              order: [[5, "desc"]],
              pageLength: 50,
              dom: 'Bfrtip' ,
              buttons: [
                  'pageLength',
                  'print'
              ]
        }  );
    } );

    </script>

    <title>Flask Journal - Atlas</title>

<!--     <div class=metanav>
        <a class=navlink href="{{ url_for('session_count') }}">home</a>

        {% if not session.logged_in %}
            <a class=navlink href="{{ url_for('login') }}">log in</a>
        {% else %}
            <a class=navlink href="{{ url_for('logout') }}">log out</a>
        {% endif %}
    </div> -->

{% endblock %}

{% block body %}

    {{ super() }}

    <h1>Beach Map</h1>

    {{beach_map.html}}

    <h1>Beach List</h1>
    
        <table id="table_id" class="display" border = 1>
            <thead>
                <td>ID</td>
                <td>Beach Name</td>
                <td>Latitude</td>
                <td>Longitude</td>
                <td>Description</td>
                <td>Count of Sessions Here</td>
            </thead>

            <tbody>
         
            {% for row in rows %}
                <tr>
                   <td>{{row[0]}}</td>
                   <td>{{row[1]}}</td>
                   <td>{{row[2]}}</td>
                   <td>{{row[3]}}</td>
                   <td>{{row[4]}}</td>
                   <td>{{row[5]}}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

{% endblock %}