{% extends "layout2.html" %}

{% block head %}

    {{ super() }}

    {{beach_map.js}}

    <script language="javascript">

    $(document).ready( function () {
        $('#table_id').DataTable( {
              order: [[5, "desc"]],
              pageLength: 50,
              dom: 'Bfrtip' ,
              buttons: [
                  'pageLength',
                  'print'
              ]
        }  );
    } );

    </script>

    <title>Flask Journal - Atlas</title>

{% endblock %}

{% block body %}

    {{ super() }}

    <h2>Beach Map</h2>

    {{beach_map.html}}

    <h2>Beach List</h2>
    
        <table id="table_id" class="display" border = 1>
            <thead>
                <td>ID</td>
                <td>Beach Name</td>
                <td>Latitude</td>
                <td>Longitude</td>
                <td>Description</td>
                <td>Count of Sessions Here</td>
            </thead>

            <tbody>
         
            {% for row in rows %}
                <tr>
                   <td>{{row[0]}}</td>
                   <td>{{row[1]}}</td>
                   <td>{{row[2]}}</td>
                   <td>{{row[3]}}</td>
                   <td>{{row[4]}}</td>
                   <td>{{row[5]}}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

{% endblock %}