{% extends "layout2.html" %}
{% block body %}
   <body>
   
      <table id="boards" class="display" border = 1>
         <thead>
            <td>Name</td>
            <td>Length</td>
            <td>Volume</td>
            <td>Shaper</td>
            <td>Description</td>
            <td>Session Count</td>
            <td>Last Used</td>
            <td>Average Score</td>
         </thead>
         
         <tbody>

<!--The references below correspond to different items in the "boards_for_template" query that is passed into the template.-->

         {% for row in rows %}

            <tr>
               <td>{{ row.display_name }}</td>
               <td>{{ row.length }}</td>
               <td>{{ row.volume }}</td>
               <td>{{ row.shaper }}</td>
               <td>{{ row.description }}</td>
               <td>{{ row.entry_count }}</td>
               <td>{{ row.time_out }}</td>
               <td>{{ row.avg_score | round (2) }}</td>
            </tr>

         {% endfor %}

         </tbody>

      </table>
      
   </body>
{% endblock %}