{% extends "layout2.html" %}

{% block head %}
   {{ super() }}
{% endblock %}

{% block body %}

   {{ super() }}

   <body>
   
      <table id="entries" class="display" border = 1>
         <thead>
            <td>ID</td>
            <td>Beach</td>
            <td>Beach Name</td>
            <td>Board</td>
            <td>Swell</td>
            <td>Wind</td>
            <td>Score</td>
            <td>Notes</td>
            <td>Duration (Seconds)</td>
            <td>Time In</td>
            <td>Time Out</td>
            <td>Hide</td>
         </thead>
         
         <tbody>

<!--Each of these rows corresponds to one of the columns above, but the order does not correspond to the order of the columns in postgres. sort of a mystery to me. figured it out by trial and error.-->

         {% for row in rows %}

            <tr>
               <td>{{row[9]}}</td>
               <td>{{row[0]}}</td>
               <td>{{row[10]}}</td>
               <td>{{row[1]}}</td>
               <td>{{row[2]}}</td>
               <td>{{row[3]}}</td>
               <td>{{row[4]}}</td>
               <td>{{row[5]}}</td>
               <td>{{row[6]}}</td>
               <td>{{row[7]}}</td>
               <td>{{row[8]}}</td>
               <td><form method="POST" action="/hide">
                      <input type="hidden" value="{{ row[9] }}" name="entry_to_hide">
                      <input type="submit" value="Hide">
                   </form>
               </td>
            </tr>

         {% endfor %}

         </tbody>

      </table>
      
   </body>
{% endblock %}